* {
    margin: 0;
    padding: 0;
}

:root {
  --main-black: #0a0a0a;
  --main-white: #fcfcfc;
  --main-gray: #e4e4e4;
  --secondary-white: #f5f5f5;
  --secondary-black: #111111;
  --secondary-gray: #161616;
}

body {
    background-color: var(--main-black);
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 5%;
    margin-right: 5%;
}

h1, h2, h3 {
    margin-bottom: 1rem;
}

h1 {
    font-size: 3rem;
    font-family: "Taviraj", serif;
    font-weight: 400;
    font-style: normal;
    color: var(--main-white);
}

h2 {
    font-size: 2rem;
    font-family: "Taviraj", serif;
    font-weight: 300;
    font-style: normal;
}

h3 {
    font-size: 1.5rem;
    font-family: "Taviraj", serif;
    font-weight: 300;
    font-style: normal;
}

p {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 1.2em;
}

header, nav, main {
    background-color: var(--secondary-white);
}

header {
    padding: 3rem;
}

header > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
    height: auto;
}

nav {
    padding: 1rem;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav li {
    display: inline-block;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 1em;
}

nav li a {
    text-decoration: none;
    padding: 1rem 2rem;
    transition-duration: 0.7s;
}

nav li a:hover {
    background-color: var(--main-gray);
}

section {
    display: flex;
}

article {
    flex: 1;
}

.contentWrapper {
    padding: 2rem;
}

article a {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    display: block;
    width: fit-content;
    text-decoration: none;
    color: var(--secondary-white);
    padding: 1rem 2rem;
    margin-top: 2rem;
    background-color: var(--main-black);
    border: 2px solid var(--main-black);
    transition-duration: 0.3s;
}

article a:hover {
    background-color: var(--main-gray);
    color: var(--main-black);
}

article .imageWrapper {
    width: 100%;
    height: fit-content;
    background-color: var(--main-black);
    overflow: hidden;
}

.imageWrapper img {
    width: 100%;
    height: auto;
    vertical-align: middle;
}

.mainUpper {
    background-image: url("picture4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    min-height: 25rem;
    align-items: center;
}

.mainUpper p {
    color: var(--main-white);
    max-width: 30%;
}

.mainLower {
    padding: 1rem;
    gap: 2rem;
    flex-wrap: wrap;
    background-color: var(--main-white);
}

.mainLower article {
    background-color: var(--main-gray);
    transition-duration: 1s;
    transition-behavior: ease-out;
}

.mainLower a {
    margin-left: auto;
    margin-right: auto;
}

footer {
    display: flex;
    background: linear-gradient(to top right, var(--secondary-black), 70%, var(--secondary-gray));
    color: var(--secondary-white);
    padding: 2rem;
    align-items: center;
}

footer p {
    font-size: 1em;
}

footer div {
    flex: 1;
}

footer img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/* For narrow devices */

@media screen and (max-width: 700px) {
    p {
        font-size: 0.8rem;
    }

    h1 {
        font-size: 1.3rem;
    }

    h2 {
        font-size: 1.2rem;
    }

    h3 {
        font-size: 1rem;
        text-align: center;
    }

    .mainUpper {
        min-height: 15rem;
    }

    .mainUpper p {
        max-width: 70%;
    }

    .mainUpper a {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .mainLower {
        flex-direction: column;
    }

    header {
        padding: 2rem;
    }

    header img {
        max-width: 100%;
    }

    footer {
        flex-direction: column;
    }

    footer img {
        max-width: 75%;
        margin-bottom: 2rem;
    }

    footer p {
        font-size: 0.8em;
    }

    nav li a {
        padding: 0.3rem 0.5rem;
    }

    article a {
        padding: 0.7rem 1rem;
    }
}


/* For tablets */

@media screen and (min-width: 700px) and (max-width: 1400px) {
    .mainLower {
        flex-direction: column;
    }

    .mainUpper p {
        max-width: 60%;
    }

    h1 {
        font-size: 2.5rem;
    }
}
